// app global css in SCSS form
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #9b9898;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #636262;
  }
}
@font-face {
  font-family: monserrat;
  src: url("../../public/fonts/montserrat/Montserrat-Medium.otf");
}
@font-face {
  font-family: monserratLight;
  src: url("../../public/fonts/montserrat/Montserrat-Regular.otf");
}
body {
  @include scroll();
  overflow-y: scroll;
}
ul {
  li {
    list-style-type: none;
  }
}
.add-product-modal-input {
  .q-field__control {
    background: $inputBg;
    border: none;
    border-radius: 23px;
  }
}
.modal-textarea {
  .q-field__control {
    height: 100%;
  }
}
// .login-input {
//   .q-field__control {
//     background: $inputBg;
//     border: none;
//     border-radius: 20px;
//     height: 8vh;
//   }
// }
.uploader {
  .q-uploader__subtitle,
  .q-uploader__title {
    display: none;
  }
  .q-uploader__header {
    background: none;
  }
  .q-btn-item {
    background: grey;
  }
  .q-uploader__file {
    min-width: 94px;
    width: 9vw;
    height: 10vh;
    min-height: 110px;
    margin: 0;
  }
  .q-uploader__list {
    display: grid;
    justify-content: space-evenly;
    grid-row-gap: 20px;
    grid-template-columns: auto auto;
  }
}
